---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Pedro Monserrat | Full Stack."
  description="Este es perfil de Pedro"
>
  <main>
    <section class="introduction">
      <h1>Under Construction</h1>
    </section>
  </main>
</Layout>

<style></style>
